* {
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
	font-family: 'Gilroy-Regular', sans-serif;
	color: #3A3A3A;
	font-size: 16px;
}
button {
	display: block;
	border: none;
	background: transparent;
}

ul, li {
	display: block;
	
}
a {
	text-decoration: none;
	color: #3A3A3A;
}
a:hover {
	color: #000;
}

h1 {
	font-family: 'Gilroy-Regular';
}

.header {
	background: url('../img/fon.jpg') no-repeat center top /cover;
	max-width: 100%;
	padding-top: 40px;

}

.nav {
  height: 45px;
  padding-bottom: 106px;


}
.menu__logo {
	margin-right: 41px;
	transition: all 0.5s ease;
}
.menu__logo:hover {
	transform: scale(1.5);
}
.menu__item-last {
	margin-right: 43px;
}
.menu__element {
	margin-right: 44px;
	margin-left: 8px;
}
.menu {
}
}
.menu-search {
  background-color: #FFF;
  border: none;
  height: 45px;
  width: 473px;
}
.menu-search__icon {
	background-color: #FFF;
}
.menu__icons {
	margin-left: auto;
}
.form-control:focus {
	box-shadow: inset 0 0 0.5em #dcccbc;
}
.menu__img {
	margin-right: 32px;
	transition: all 0.5s ease;
}
.menu__img:hover {
	transform: scale(1.5); /* эффект трансформации  */
}
.avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}